html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

.light {
  background-color: hsl(0, 0%, 98%);
  color: black;
}

.dark {
  background-color: hsl(0, 0%, 7%);
  color: white;
}